body{
    background: #2b2839;
    margin: 20px;
    padding: 250px;
}

.Acepic{
    width: 150px;
}

.card{
    width: 400px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    color: #2b2839;
    background: #ddebf8;
    border-bottom: 6px solid #d8cefe;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.seccard{
    width: 400px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    color: #2b2839;
    background: #ddebf8;
    border-bottom: 6px solid #d8cefe;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}